<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    @*<link type="text/css" rel="stylesheet" href="/Content/bootstrap/bootstrap.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/Content/site.css" media="all" />*@

    @Styles.Render("~/bundles/all/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")

    @RenderSection("scripts", required: false)
</body>
</html>
